In [75]:
import pandas as pd
import os
from bs4 import BeautifulSoup

In [76]:
# Import the Rotten Tomatoes .tsv into a pandas datafram
df1 = pd.read_csv('bestofrt.tsv', sep = '\t')

In [77]:
df1.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [78]:
# working through methods below

with open('rt_html/et_the_extraterrestrial.html') as file:
    soup = BeautifulSoup(file, 'lxml')
    score = soup.find(class_ = 'audience-info hidden-xs superPageFontColor')
    print(score.find_all('div')[1].contents[-1].strip('\n').strip(' ').replace(',', ''))

32313030

In [79]:


# Create dictionary for movies
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        # Get the title
        title = soup.find('title').contents[0].split(' -')[0].replace(u'\xa0', u' ')
        # Get the user score and number
        score = soup.find(class_ = 'audience-score meter')
        audience_score = score.find('span').string.replace('%', '')
        
        number = soup.find(class_ = 'audience-info hidden-xs superPageFontColor')
        num_audience_ratings = number.find_all('div')[1].contents[-1].strip('\n').strip(' ').replace(',', '')
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df2 = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [85]:
df1.sort_values(by='title', inplace=True)
df2.sort_values(by='title', inplace=True)

pandas.core.series.Series

In [97]:
for title in df1.title:
    if title not in list(df2.title):
        print(title)
        
for title in df2.title:
     if title not in list(df1.title):
         print(title)

Army of Shadows (L'Armée des ombres) (1969)
Harry Potter and the Deathly Hallows - Part 2 (2011)
Rashômon (1951)
Star Wars: Episode VII - The Force Awakens (2015)
Tokyo Story (Tôkyô monogatari) (1953)
Army of Shadows (L'ArmÃ©e des ombres) (1969)
Harry Potter and the Deathly Hallows
RashÃ´mon (1951)
Star Wars: Episode VII
Tokyo Story (TÃ´kyÃ´ monogatari) (1953)

In [ ]:
df2.replace(to_replace="Army of Shadows (L'ArmÃ©e des ombres) (1969)", value="Army of Shadows (L'Armée des ombres) (1969)", inplace=True)
df2.replace(to_replace="Harry Potter and the Deathly Hallows", value="Harry Potter and the Deathly Hallows - Part 2 (2011)", inplace=True)
df2.replace(to_replace="RashÃ´mon (1951)", value="Army of Shadows (L'Armée des ombres) (1969)", inplace=True)
df2.replace(to_replace="Army of Shadows (L'ArmÃ©e des ombres) (1969)", value="Army of Shadows (L'Armée des ombres) (1969)", inplace=True)
df2.replace(to_replace="Army of Shadows (L'ArmÃ©e des ombres) (1969)", value="Army of Shadows (L'Armée des ombres) (1969)", inplace=True)

In [80]:
df = pd.merge(df1, df2, on=['title'], how='outer')

In [81]:
df

,ranking,critic_score,title,number_of_critic_ratings,audience_score,number_of_audience_ratings
0,1.0,99.0,The Wizard of Oz (1939),110.0,89.0,874425.0
1,2.0,100.0,Citizen Kane (1941),75.0,90.0,157274.0
2,3.0,100.0,The Third Man (1949),77.0,93.0,53081.0
3,4.0,99.0,Get Out (2017),282.0,87.0,63837.0
4,5.0,97.0,Mad Max: Fury Road (2015),370.0,86.0,123937.0
5,6.0,100.0,The Cabinet of Dr. Caligari (Das Cabinet des D...,49.0,89.0,27163.0
6,7.0,100.0,All About Eve (1950),64.0,94.0,44564.0
7,8.0,98.0,Inside Out (2015),324.0,89.0,133558.0
8,9.0,99.0,The Godfather (1972),85.0,98.0,730433.0
9,10.0,99.0,Metropolis (1927),116.0,92.0,62018.0
10,11.0,98.0,E.T. The Extra-Terrestrial (1982),114.0,72.0,32313030.0
11,12.0,100.0,Modern Times (1936),53.0,95.0,39736.0
12,13.0,98.0,It Happened One Night (1934),52.0,93.0,33106.0
13,14.0,100.0,Singin' in the Rain (1952),49.0,95.0,137643.0
14,15.0,98.0,Boyhood (2014),283.0,81.0,88478.0
15,16.0,97.0,Casablanca (1942),74.0,95.0,355952.0
16,17.0,98.0,Moonlight (2016),292.0,80.0,41956.0
17,18.0,97.0,Psycho (1960),86.0,94.0,238259.0
18,19.0,100.0,Laura (1944),60.0,91.0,10481.0
19,20.0,97.0,"Nosferatu, a Symphony of Horror (Nosferatu, ei...",62.0,87.0,47463.0
20,21.0,98.0,Snow White and the Seven Dwarfs (1937),47.0,78.0,469510.0
21,22.0,98.0,A Hard Day's Night (1964),104.0,89.0,50067.0
22,23.0,97.0,La Grande illusion (Grand Illusion) (1938),63.0,92.0,11490.0
23,24.0,100.0,North by Northwest (1959),65.0,94.0,78793.0
24,25.0,99.0,The Battle of Algiers (La Battaglia di Algeri)...,83.0,95.0,14267.0
25,26.0,93.0,Dunkirk (2017),337.0,82.0,53555.0
26,27.0,100.0,The Maltese Falcon (1941),50.0,91.0,57268.0
27,28.0,100.0,Repulsion (1965),60.0,87.0,18655.0
28,29.0,96.0,12 Years a Slave (2013),316.0,90.0,138789.0
29,30.0,96.0,Gravity (2013),315.0,80.0,301261.0
...,...,...,...,...,...,...
75,76.0,98.0,The 39 Steps (1935),44.0,86.0,23647.0
76,77.0,99.0,L.A. Confidential (1997),108.0,94.0,149772.0
77,78.0,94.0,Gone With the Wind (1939),83.0,93.0,292794.0
78,79.0,97.0,"The Good, the Bad and the Ugly (1966)",68.0,97.0,238420.0
79,80.0,93.0,Skyfall (2012),349.0,86.0,372497.0
80,81.0,100.0,Open City (1946),41.0,92.0,6128.0
81,82.0,100.0,Tokyo Story (Tôkyô monogatari) (1953),42.0,NaN,NaN
82,83.0,97.0,Hell or High Water (2016),237.0,88.0,37738.0
83,84.0,100.0,Pinocchio (1940),45.0,72.0,278682.0
84,85.0,95.0,The Jungle Book (2016),284.0,86.0,92856.0
85,86.0,92.0,La La Land (2016),358.0,82.0,67325.0
86,87.0,95.0,Star Trek (2009),336.0,91.0,746458.0
87,88.0,96.0,High Noon (1952),50.0,89.0,25065.0
88,89.0,98.0,Apocalypse Now (1979),80.0,94.0,284606.0
89,90.0,98.0,On the Waterfront (1954),61.0,95.0,51664.0
90,91.0,100.0,The Wages of Fear (1953),40.0,95.0,8536.0
91,92.0,100.0,The Last Picture Show (1971),51.0,90.0,13893.0
92,93.0,96.0,Harry Potter and the Deathly Hallows - Part 2 ...,314.0,NaN,NaN
93,94.0,100.0,The Grapes of Wrath (1940),43.0,88.0,23954.0
94,95.0,98.0,Roman Holiday (1953),52.0,94.0,62895.0
95,96.0,100.0,Man on Wire (2008),156.0,87.0,29827.0
96,97.0,97.0,Jaws (1975),74.0,90.0,942217.0
97,98.0,100.0,Toy Story (1995),78.0,92.0,1107731.0
98,99.0,97.0,"The Godfather, Part II (1974)",72.0,97.0,409574.0
99,100.0,100.0,Battleship Potemkin (1925),45.0,85.0,18709.0
100,NaN,NaN,Army of Shadows (L'ArmÃ©e des ombres) (1969),NaN,94.0,7011.0
101,NaN,NaN,Harry Potter and the Deathly Hallows,NaN,89.0,389431.0
102,NaN,NaN,RashÃ´mon (1951),NaN,93.0,47657.0
103,NaN,NaN,Star Wars: Episode VII,NaN,89.0,222789.0
104,NaN,NaN,Tokyo Story (TÃ´kyÃ´ monogatari) (1953),NaN,93.0,11325.0